body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.vending-machine {
    width: 300px;
    background-color: #333;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    color: white;
}

.screen {
    background-color: #000;
    color: lime;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.coin-selection button {
    padding: 10px;
    margin: 5px;
    background-color: #666;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.coin-selection button:hover {
    background-color: #555;
}

.coin-slot {
    width: 100px;
    height: 20px;
    background-color: #222;
    margin: 20px auto;
    position: relative;
    border-radius: 5px;
}

.coin {
    width: 40px;
    height: 40px;
    background-color: gold;
    border-radius: 50%;
    position: absolute;
    top: -50px; /* Moneta startuje nad slotem */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* Ukryta na starcie */
}

@keyframes dropCoin {
    0% {
        top: -50px;
        opacity: 1;
    }
    80% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 0; /* Moneta znika */
    }
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    padding: 10px;
    background-color: #666;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #555;
}

/* Stylizacja panelu z wyborem produktu */
.product-selection {
    margin-top: 20px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
}

.keypad button {
    padding: 10px;
    background-color: #666;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.keypad button:hover {
    background-color: #555;
}

/* Stylizacja listy produktów */
.products-list {
    margin-top: 20px;
}

.products-list ul {
    list-style-type: none;
    padding: 0;
}

.products-list li {
    margin: 5px 0;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}
